@charset "UTF-8";
/* VARIABLER */
/* GENERELT */
body {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Open Sans", sans-serif;
  margin: 0;

}

img {
  width: 100%;
}
* header & nav */ #nav {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, #ae4a0c 0%, #dc5f11 100%);
}
/* VELKOMMEN DIV */
.velkommen {
  height: auto;
  line-height: 40px;
     text-align: center;
}

.velkommen span {
  color: #dc5f11;
     text-align: center;
}

.velkommen p {
  font-size: 15px;
    text-align: center;
}

/* VÆLG HESTE */
main {
  padding: 1vw;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;


}



main .wrap {
  padding: 1vw;
  display: grid;
  grid-template-columns: auto;

}

#horses {
  width: 100%;
  height: auto;
  background-color: white;
}

.hest {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  border: solid 1px black;
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  border-bottom: solid 1px black;
}

.hest img {
  width: 100%;
  max-width: 40px;
  margin: auto;
}

.hest .tekst {
  line-height: 0;
}

.hest .read {
  line-height: 0;
}

.hest .more {
  font-weight: bold;
  cursor: pointer;
}

.hest .data-odds {
  margin-left: 3px;
}

.hest .info {
  line-height: 1;
  grid-column: 1 / span 3;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-top: 0;
  display: none;
}

.hest h1 {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 4vw;
}
.data-jockeynavn {
  font-size: 13px;
}
.data-odds {
  color: #dc5f11;
}
/* BET */
#saldo {
  width: auto;
  border: solid 1px black;
  margin-top: 5vw;
}

#saldo .bet {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin-top: 0.5vw;
}

#saldo .dinSaldo {
  display: grid;
  grid-template-columns: auto auto;
  border: solid 1px black;
  margin: 1vw 1vw 0vw 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#saldo .dinSaldo p {
  font-size: 20px;
  margin: 0.3vw;
}

#saldo .dinSaldo h1 {
  margin: 0.3vw;
  font-size: 15px;
}

/* NEDRE SEKTION */
#billede-section img {
  display: none;
}

#knap {
  cursor: pointer;
  width: 12vh;
  height: 5vh;
  margin-top: 3vw;
  color: #ffffff;
  background-color: #feb700;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

button:hover,
button:active,
button:focus {
  transform: scale(1.1);
}

/* FORM */
form .button {
  color: #ffffff;
  background-color: #feb700;
  padding: 2vw 5vw;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 20px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}

form .button a {
  color: #ffffff;
}


.form-list {
  padding-left: 0;
  list-style: none;
}

.form-list__row {
  margin-bottom: 25px;
}

.form-list__row label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #939393;
}

.modalen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
    margin: auto;
}



.modalen a {
  text-decoration: none;
  color: #ffffff;
}

.modalen input {
  min-height: 30px;
  width: 100%;
margin: auto;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
    margin: auto;
}

.modalen input[type="tel"] {
  width: 30%;
}

.modalen input:focus {
  outline: none;
  border-color: #dc5f11;
}

.modal__container {
  display: flex;
    margin: auto;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__featured {
  position: relative;
  flex: 1;
  min-width: 230px;
  padding: 20px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;


}

.modal__circle {
  display: none;
}

.modal__product {
  display: none;
}

.modal__product2 {
  display: none;
}

.modal__content {
  padding: 40px 30px;
  width: 100%;
}

.fb-but {
  height: 40px;
  width: 150px;
  color: white;
  background-color: #4167b2;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s;
}

.logindWrap {
  text-align: center;
}

.logindWrap p {
  font-size: 12px;
  font-weight: bold;
}

.wrap-knap {
  display: grid;
  grid-template-columns: auto auto;
}

/* MODAL  */
#modal {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  /*display: none;*/
  opacity: 0;
  pointer-events: none;
  transition: 1s;
    margin: auto;
}

#modal.vis {
  /*display: block;*/
  opacity: 1;
  pointer-events: all;
  transition: 0.5s;
}

.luk {
  float: right;
  border: 1px solid;
  height: 20px;
  cursor: pointer;
}

.faktaboks1 {
  position: absolute;
  top: 30vw;
  left: 40vw;
  width: 300px;
  display: none;
}

.faktaboks1 svg {
  width: 100%;
  height: auto;
  max-width: 380px;
}

.faktaboks1 button {
  color: #ffffff;
  background-color: #dc5f11;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 39vw;
  top: 17vw;
  font-weight: bold;
}

.faktaboks1 .cls-1 {
  fill: #dc5f11;
}

.faktaboks1 .cls-2 {
  font-size: 14px;
  fill: #ffffff;
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.faktaboks1 .cls-3 {
  font-size: 12px;
  font-family: OpenSans, Open Sans;
  font-weight: 400;
}

.faktaboks2 {
  position: absolute;
  top: 20vw;
  left: 40vw;
  width: 300px;
  display: none;
}

.faktaboks2 svg {
  width: 100%;
  height: auto;
  max-width: 380px;
}

.faktaboks2 button {
  color: #ffffff;
  background-color: #dc5f11;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 39vw;
  top: 17vw;
  font-weight: bold;
}
.faktaboks2 .cls-1 {
  fill: #dc5f11;
}

.faktaboks2 .cls-2 {
  font-size: 12px;
  fill: #ffffff;
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.faktaboks2 .cls-3 {
  font-family: OpenSans, Open Sans;
  font-weight: 400;
}

.faktaboks3 {
  position: absolute;
  top: 25vw;
  left: 17vw;
  width: 300px;
  display: none;
}

.faktaboks3 svg {
  width: 100%;
  height: auto;
  max-width: 380px;
}

.faktaboks3 button {
  color: #ffffff;
  background-color: #dc5f11;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 42vw;
  top: 17vw;
  font-weight: bold;
}

.faktaboks3 .cls-1 {
  fill: #dc5f11;
}

.faktaboks3 .cls-2 {
  font-size: 12px;
  fill: #ffffff;
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.faktaboks3 .cls-3 {
  font-family: OpenSans, Open Sans;
  font-weight: 400;
}

@media screen and (min-width: 500px) {
  /* HEADER & NAV */
  #nav {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #ae4a0c 0%, #dc5f11 100%);
  }

  #nav img {
    width: 160px;
  }

  #nav p {
    display: inline-block;
    margin: 01vw 2vw 2vw 2vw;
    float: right;
    color: white;
  }

  /* VELKOMMEN DIV */
  .velkommen {
    width: 500px;
    height: auto;
    margin: auto;
    line-height: 20px;
    text-align: center;
  }

  .velkommen span {
    color: #dc5f11;
  }

  .velkommen p {
    font-size: 16px;
  }

  /* VÆLG HESTE */
  main {
    padding: 1vw;
    width: 100%;
    height: auto;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1fr;
  }

  main .wrap {
    padding: 1vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 2;
    grid-row: 2;
  }

  #horses {
    width: 55vh;
    height: auto;
    background-color: white;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .hest {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 0.6fr;
    border-bottom: solid 1px black;
  }

  .hest img {
    width: 100%;
    max-width: 40px;
    margin: auto;
  }

  .hest .tekst {
    line-height: 0;
  }

  .hest .read {
    line-height: 0;
  }

  .hest .more {
    font-weight: bold;
    cursor: pointer;
  }

  .hest .data-odds {
    margin-left: 3px;
  }

  .hest .info {
    line-height: 1.3;
    grid-column: 1 / span 3;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-top: 0;
    display: none;
  }

  .hest h1 {
    font-size: 14px;
  }

  /* BET */
  #saldo {
    width: auto;
    border: solid 1px black;
    margin-top: 0;
  }

  #saldo .bet {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 0.5vw;
  }

  #saldo .dinSaldo {
    display: grid;
    grid-template-columns: auto auto;
    border: solid 1px black;
    margin: 1vw 1vw 0vw 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }

  #saldo .dinSaldo p {
    font-size: 20px;
    margin: 0.3vw;
  }

  #saldo .dinSaldo h1 {
    margin: 0.3vw;
  }

  /* NEDRE SEKTION */
  #billede-section img {
    width: 100%;
    max-width: 250px;
    display: block;
  }

  #knap {
    cursor: pointer;
    width: 19vh;
    height: 10vh;
    margin-top: 3.5vw;
    color: #ffffff;
    background-color: #feb700;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }

  button:hover,
  button:active,
  button:focus {
    transform: scale(1.1);
  }

  /* FORM */
  form .button {
    color: #ffffff;
    background-color: #feb700;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 20px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    cursor: pointer;
  }

  form .button a {
    color: #ffffff;
  }

  /* input:valid {
  border-color: #24cf5f;
} */
  .form-list {
    padding-left: 0;
    list-style: none;
  }

  .form-list__row {
    margin-bottom: 25px;
  }

  .form-list__row label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #939393;
  }

  .modalen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
  }

  .modalen img {
    padding-top: 80px;
    width: 100%;
  }

  .modalen a {
    text-decoration: none;
    color: #ffffff;
  }

  .modalen input {
    min-height: 30px;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0.5px;
    border: 0;
    border-bottom: 2px solid #f0f0f0;
  }

  .modalen input[type="tel"] {
    width: 30%;
  }

  .modalen input:focus {
    outline: none;
    border-color: #dc5f11;
  }

  .modal__container {
    display: flex;
    width: 585px;
    height: 375px;
    margin-bottom: 125px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  }

  .modal__featured {
    position: relative;
    flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
  }

  .modal__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: #dc5f11;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-25%);
    display: block;
  }

  .modal__product {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 85%;
    transform: translateX(calc(-50% - 10px));
    display: block;
  }

  .modal__product2 {
    position: absolute;
    top: 25%;
    left: 70%;
    width: 100%;
    transform: translateX(calc(-50% - 10px));
    font-size: 12px;
    line-height: 2;
    color: white;
    display: block;
  }

  .modal__content {
    padding: 10px 5px;
    width: 700px;
  }

  .fb-but {
    height: 40px;
    width: 150px;
    color: white;
    background-color: #4167b2;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
  }

  .logindWrap {
    text-align: center;
  }

  .logindWrap p {
    font-size: 12px;
    font-weight: bold;
  }

  .wrap-knap {
    display: grid;
    grid-template-columns: auto auto;
  }

  /* MODAL  */
  #modal {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
    transition: 1s;
  }

  #modal.vis {
    /*display: block;*/
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
  }

  .luk {
    float: right;
    border: 1px solid;
    height: 20px;
    cursor: pointer;
  }

  .faktaboks1 {
    display: block;
  }
}
