/* VARIABLER */
/* GENERELT */
body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

body img {
  width: 100%;
}

body h1,
body h2,
body li,
body p {
  color: black;
}

section {
  width: 100%;
  height: auto;
}

section .vinder {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin: auto;
  width: 100%;
}

section .vinder img {
  width: 100%;
  border-radius: 50%;
  max-width: 100px;
}

section .rangliste {
  border: solid 1px black;
  margin: auto;
  width: 100%;
}
section .vinder h1 {
  color: #feb700;
}

section .rangliste h1 {
  text-align: center;
}

section .rangliste ol {
  margin-left: 2vw;
}

section .saldo {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1vw;
  grid-gap: 5px;
}

section .saldo .nysaldo {
  display: grid;
  grid-template-columns: auto auto;
  border: solid 1px black;
  width: 300px;
  padding-left: 1vw;
}

section .saldo .nysaldo h1 {
  margin: 0;
  font-size: 15px;
  margin-top: 7px;
}

section .saldo .nysaldo p {
  margin-top: 7px;
  margin-bottom: 0;
}

section .saldo .knap {
  cursor: pointer;
  height: 10vw;
  right: 0;
  color: #ffffff;
  background-color: #feb700;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

section .saldo button:hover,
section .saldo button:active,
section .saldo button:focus {
  transform: scale(1.1);
}

@media screen and (min-width: 500px) {
  section {
    width: 80%;
    margin: auto;


  }

  section .vinder {
    display: grid;

    text-align: center;
    margin: auto;

  }

  section .vinder img {
    width: 100%;
    border-radius: 50%;
    max-width: 100px;
  }

  section .rangliste {
    border: solid 1px black;
    margin: auto;
    width: 100%;
  }

  section .rangliste h1 {
    text-align: center;
  }

  section .rangliste ol {
    margin-left: 2vw;
  }

  section .saldo {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1vw;
    grid-gap: 5px;
  }

  section .saldo .nysaldo {
    display: grid;

    border: solid 1px black;
    width: 100%;
    padding-left: 1vw;
  }

  section .saldo .nysaldo h1 {
    margin: 0;
    font-size: 15px;
    margin-top: 7px;
  }

  section .saldo .nysaldo p {
    margin-top: 7px;
    margin-bottom: 0;
  }

  section .saldo .knap {
    cursor: pointer;
    width: 100%;
    height: 5vw;
    right: 0;
    color: #ffffff;
    background-color: #feb700;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }

  section .saldo button:hover,
  section .saldo button:active,
  section .saldo button:focus {
    transform: scale(1.1);
  }
}
